@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.img{display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px ;
    width: 400px;}
.pic{display: block;
    margin-left: auto;
    margin-right: auto
}
